*/migrations/*
!*/migrations/__init__.py
*.pyc
/*.pyc
*/*.pyc
*.DS_Store
*.idea
*.vscode
*.git
*/.DS_Store
*/.idea
*/__pycache__
*/__pycache__/*
*.log

.vscode

/webssh
/frontend
/static
/templates
/venv

configure.yaml
celerybeat-schedule

