{% load static %}
    <!-- Mainly scripts -->
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
    <script src="{% static "js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static "js/inspinia.js" %}"></script>
    <script src="{% static "js/plugins/pace/pace.min.js" %}"></script>